<form [formGroup]="quizForm" (ngSubmit)="onSubmit()">
  <h1>Quiz form</h1>
  <div formArrayName="questions">
    @for (
      question of quizForm.controls.questions.controls;
      track questionIndex;
      let questionIndex = $index
    ) {
      <div class="question" [formGroupName]="questionIndex">
        <input
          type="text"
          formControlName="questionName"
          placeholder="Question name"
        />
        <span (click)="removeQuestion(questionIndex)" class="remove">✗</span>
        <div formArrayName="answers" class="answers">
          <div>Answers</div>
          @for (
            question of quizForm.controls.questions.controls.at(questionIndex)
              ?.controls?.answers?.controls;
            track answerIndex;
            let answerIndex = $index
          ) {
            <div [formGroupName]="answerIndex" class="answer">
              <input type="text" placeholder="Answer" formControlName="text" />
              <span
                (click)="removeAnswer(questionIndex, answerIndex)"
                class="remove"
                >✗</span
              >
            </div>
          }
          <button
            type="button"
            class="add-answer"
            (click)="addAnswer(questionIndex)"
          >
            Add Answer
          </button>
        </div>
      </div>
    }
  </div>
  <div class="add-question">
    <button (click)="addQuestion()" type="button">Add Question</button>
  </div>
  <div><button type="submit">Submit</button></div>
</form>
