.el-select {
  display: inline-block;
  position: relative;
}

.el-select:focus > .selected-value {
  background: rgba(0, 0, 0, 0.1)
}

.el-select .selected-value {
  width: 200px;
  border: 1px solid black;
  cursor: pointer;
  padding: 4px 8px;
}

.el-select .selected-value:after {
  content: '';
  border: 8px solid transparent;
  border-top-color: black;
  position: absolute;
  right: 10px;
  top: 10px;
}

.el-select .list {
  position: absolute;
  border: 1px solid black;
  border-top: none;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  display: none;
}

.el-select .is-visible {
  display: block
}

.el-select .list-option {
  cursor: pointer;
  padding: 4px 8px;
}

.el-select .list-option:hover {
  background: rgba(0, 0, 0, 0.1)
}

