.pricing {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.pricing-item {
  box-shadow: 0 1px 6px rgb(60 64 67 / 30%);
  border-radius: 8px;
  background-color: #fff;
  width: 256px;
  margin: 12px;
  height: 580px;
}

.pricing-item__inner-container {
  background: #fff;
  margin: 4px;
  border-radius: 4px;
  height: calc(100% - 8px);
}

.pricing-item--recommended {
  background: linear-gradient(90deg, #34a853 4%, #4285f4 0%) top/100% 34%
      no-repeat,
    linear-gradient(90deg, #fbbc04 50%, #4285f4 0%) top/100% 82% no-repeat,
    linear-gradient(90deg, #fbbc04 10%, #ea4335 0%) top/100% 100%;
}

.pricing-item__top-part {
  text-align: center;
  height: 350px;
}

.pricing-item__storage-size {
  padding-top: 50px;
  font-size: 32px;
  font-weight: 400;
}

.pricing-item__recommended-label {
  font-weight: 500;
  padding-top: 10px;
}

.pricing-item__recommended-label + .pricing-item__storage-size {
  padding-top: 23px;
}

.pricing-item__bottom-part {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
