.skeleton-box {
  display: inline-block;
  height: 16px;
  position: relative;
  overflow: hidden;
  background-color: #DDDBDD;
}

.skeleton-box:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, transparent 0%, #E8E8E8 50%, transparent 100%);
  animation: slide 5s infinite;
  content: '';
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

