* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

.form {
  max-width: 400px;
  margin: 0 auto;
  text-align: left;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 18px;
}

.btn {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #45a049;
}

.label {
  font-size: 15px;
}

.form-links {
  margin-top: 20px;
  color: gray;
  display: flex;
  justify-content: space-between;
}

.form-links a {
  color: gray;
  text-decoration: none;
}

.form-links a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  .form {
    width: 90%;
  }
}
