* {
  margin: 0;
  padding: 0;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  padding-top: 60px;
  transition: 0.5s;
  overflow-x: hidden;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar.is-opened {
  width: 250px;
  /* Full width */
  width: 100%;
  text-align: center;
}

.sidebar.is-opened + .main {
  /* Sidebar overlay */
  margin-left: 250px;
  /* Move main */
  transition: margin-left 0.5s;
  /* Hide main */
  background: rgba(0, 0, 0, 0.4);
}

.sidebar .closeSidebarButton {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: #818181;
  cursor: pointer;
}

.sidebar .closeSidebarButton:hover {
  color: #f1f1f1;
}

.toggler {
  font-size: 30px;
  cursor: pointer;
}

.main {
  height: 100vh;
  padding: 25px;
}
