* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

/* :root { */
/*   --button-color: red; */
/* } */

.container {
  /* --button-color: red; */
  --button-color-default: orange;
}

.comment-container {
  --button-color: blue;
}

.button {
  /* color: var(--button-color, gray); */
  color: var(--button-color, var(--button-color-default, gray));
}
