<li [ngClass]="{ editing: editingIdProps, completed: todoProps.isCompleted }">
  <div class="view">
    <input
      class="toggle"
      type="checkbox"
      [checked]="todoProps.isCompleted"
      (change)="toggleTodo()"
    />
    <label (dblClick)="(setTodoInEditingMode)">{{ todoProps.text }}</label>
    <button class="destroy" (click)="(removeTodo)"></button>
  </div>
  <ng-container *ngIf="editingIdProps">
    <input
      class="edit"
      [value]="editingText"
      onChange="{changeEditInput}"
      onKeyDown="{keyDownEditInput}"
      (keyup)="changeText($event)"
      (keyup.enter)="changeTodo()"
    />
  </ng-container>
</li>
