.image {
  display: block;
  width: 100%;
  opacity: 0;
}

.placeholder {
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(10px);
}

.image-loaded {
  opacity: 1;
}

.placeholder-loaded {
  filter: none;
}
