<div *ngIf="dataSource.isLoading$ | async">Loading...</div>

<table
  class="users-table"
  mat-table
  [dataSource]="dataSource"
  matSort
  matSortActive="id"
  matSortDirection="asc"
  matSortDisableClear
  (matSortChange)="sortUsers($event)"
>
  <ng-container matColumnDef="id">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      class="users-table-cell"
    >
      ID
    </th>
    <td mat-cell *matCellDef="let element" class="users-table-cell">
      {{ element.id }}
    </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      class="users-table-cell"
    >
      Name
    </th>
    <td mat-cell *matCellDef="let element" class="users-table-cell">
      {{ element.name }}
    </td>
  </ng-container>

  <ng-container matColumnDef="age">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      class="users-table-cell"
    >
      Age
    </th>
    <td mat-cell *matCellDef="let element" class="users-table-cell">
      {{ element.age }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns"
    (click)="selectRow(row)"
  ></tr>
</table>
