    <div class="comment">
      <div class="comment-image-container">
        <img src="/user-icon.png" />
      </div>
      <div class="comment-right-part">
        <div class="comment-content">
          <div class="comment-author">{{comment.username}}</div>
          <div>{createdAt}</div>
        </div>
        <div class="comment-text" *ngIf="!isEditing">{{comment.body}}</div>
          <comment-form
            *ngIf="isEditing"
            submitLabel="Update"
            [hasCancelButton]="true"
            [initialText]="comment.body"
            (handleSubmit)="updateComment($event, comment.id)"
            (handleCancel)="setActiveComment(null)"
            ></comment-form>
        <div class="comment-actions">
          {canReply && (
            <div
              class="comment-action"
              onClick={() =>
                setActiveComment({ id: comment.id, type: "replying" })
              }
            >
              Reply
            </div>
          )}
          {canEdit && (
            <div
              class="comment-action"
              onClick={() =>
                setActiveComment({ id: comment.id, type: "editing" })
              }
            >
              Edit
            </div>
          )}
          {canDelete && (
            <div
              class="comment-action"
              onClick={() => deleteComment(comment.id)}
            >
              Delete
            </div>
          )}
        </div>
        {isReplying && (
          <CommentForm
            submitLabel="Reply"
            handleSubmit={(text) => addComment(text, replyId)}
          />
        )}
        {replies.length > 0 && (
          <div class="replies">
            {replies.map((reply) => (
              <Comment
                comment={reply}
                key={reply.id}
                setActiveComment={setActiveComment}
                activeComment={activeComment}
                updateComment={updateComment}
                deleteComment={deleteComment}
                addComment={addComment}
                parentId={comment.id}
                replies={[]}
                currentUserId={currentUserId}
              />
            ))}
          </div>
        )}
      </div>
    </div>
