.welcome-screen {
  text-align: center;
}

.welcome-screen button {
  margin-top: 20px;
  font-size: 20px;
}

.welcome-screen input {
  height: 30px;
  width: 200px;
  font-size: 30px;
  text-align: center;
}

.chat {
  display: flex;
  width: 800px;
  height: 500px;
  margin: 0 auto;
  border: 1px solid grey;
  margin-top: 20px;
}

.chat .users-list {
  width: 300px;
  border-right: 1px solid grey;
}

.chat .users-list .active {
  background: #f3f3f3;
}

.chat .users-list div {
  cursor: pointer;
  padding: 10px;
}

.chat .users-list div:hover {
  background: #f3f3f3;
}

.chat .has-new-notification:after {
  content: "❗";
  display: inline-block;
}

.chat .messages {
  width: 100%;
  position: relative;
}

.chat .messages-list {
  height: calc(100% - 60px);
}

.chat input {
  width: 100%;
  box-sizing: border-box;
  height: 30px;
}

.chat .current-user {
  border-bottom: 1px solid grey;
  padding: 5px;
}

.hidden {
  display: none;
}
