<table class="table">
  <thead>
    <tr>
      <th>
        <input
          class="checkbox"
          type="checkbox"
          [indeterminate]="indeterminateSig()"
          [checked]="totalSelectedSig()"
          (change)="selectAll($event)"
        />
      </th>
      <th class="numChecked">
        <span *ngIf="totalSelectedSig() > 0"
          >Selected {{ totalSelectedSig() }}</span
        >
        <span *ngIf="totalSelectedSig() === 0">None</span>
      </th>
    </tr>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Message</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let issue of issuesSig()">
      <tr
        [ngClass]="{
          openIssue: issue.status === 'open',
          resolvedIssue: issue.status === 'resolved'
        }"
        [ngStyle]="{
          backgroundColor: issueEntriesSig()[issue.id].isSelected
            ? '#eeeeee'
            : '#ffffff'
        }"
        (click)="selectRow(issue.id)"
      >
        <td>
          <input
            class="checkbox"
            type="checkbox"
            [checked]="issueEntriesSig()[issue.id].isSelected"
          />
        </td>
        <td>{{ issue.name }}</td>
        <td>{{ issue.message }}</td>
        <td>
          <span
            [ngClass]="{
              openCircle: issue.status === 'open',
              resolvedCircle: issue.status === 'resolved'
            }"
          ></span>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
