.container {
  width: 500px;
  margin: 0 auto;
  margin-top: 50px;
  border: 1px solid #ccc;
  background: #fff;
  padding: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.headline {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: #b83f45;
}

.btn {
  margin-top: 10px;
  font-size: 19px;
  padding: 5px;
  background-color: #ffdf3e;
  border: 1px solid #000000;
  cursor: pointer;
}

.result {
  text-align: center;
  font-size: 24px;
  margin: 10px;
}
