<form class="form" (submit)="onSubmit($event)">
  @for (error of this.signalRegisterForm().errors(); track $index) {
    <span class="error"> {{ error.message }} </span>
  }
  <div class="field">
    <label class="label">username</label>
    <input
      type="text"
      class="input"
      [field]="signalRegisterForm.username"
      [class.invalid]="
        signalRegisterForm.username().invalid() && signalRegisterForm.username().touched()
      "
    />

    @if (signalRegisterForm.username().invalid() && signalRegisterForm.username().touched()) {
      <span class="error">
        {{ signalRegisterForm.username().errors()[0].message }}
      </span>
    }
  </div>
  <div class="field">
    <label class="label">email</label>
    <input
      type="text"
      class="input"
      [field]="signalRegisterForm.email"
      [class.invalid]="signalRegisterForm.email().invalid() && signalRegisterForm.email().touched()"
    />
  </div>
  <div class="field">
    <label class="label">password</label>
    <input
      type="text"
      class="input"
      [field]="signalRegisterForm.password"
      [class.invalid]="
        signalRegisterForm.password().invalid() && signalRegisterForm.password().touched()
      "
    />
  </div>

  <select [field]="signalRegisterForm.roleId">
    @for (role of roles; track $index) {
      <option [value]="role.id">
        {{ role.title }}
      </option>
    }
  </select>

  <div>
    <button type="submit" class="button" [disabled]="signalRegisterForm().submitting()">
      Register
    </button>
  </div>
</form>
