<div class="container">
  <div class="headline">Layout</div>

  <div class="links">
    <a routerLink="/dashboard" routerLinkActive="active">dashboard</a>
    <a routerLink="/products" routerLinkActive="active">products</a>
    <a
      routerLink="/settings"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      settings
    </a>
    <a routerLink="/settings/profile" routerLinkActive="active">profile</a>
    <a routerLink="/pages/1" routerLinkActive="active">pages/1</a>
  </div>

  <div class="main">
    <router-outlet />
  </div>
</div>
