.layout {
  display: grid;
  grid-template-columns: 275px auto 350px;
  max-width: 1200px;
  margin: 0 auto;
}

.layout__left-sidebar {
}

.layout__main {

}

.layout__right-sidebar-container {

}

.layout__right-sidebar {
  position: fixed;
  width: 350px;
}

.layout__right-sidebar .trends-for-you {
  margin-bottom: 15px;
}

