.modal {
  background: #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 50px;
}
.modal__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.modal__body {
  flex: 1;
}

.modal__footer {
  display: flex;
  justify-content: flex-end;
}
