.container {
  overflow: auto;
  height: 500px;
}

.list {
  border: 1px solid #e6e4dc;
  max-width: 100%;
  width: 100%;
  position: relative;
}

.list-item-even {
  background-color: #e6e4dc;
}

.row {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
