.calendar-container {
  display: flex;
}

.calendar-headline {
  display: flex;
}

.calendar-headline-controls {
  display: flex;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}
