body {
  height: 100vh;
  margin: 0;
}

.app {
  transition: background 0.2s linear;
}

#root {
  height: 100%;
  width: 100%;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text {
  margin-bottom: 20px;
  font-size: 18px;
}
